.head { 
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	height: 60px;
	background-color: #F2F2F2;
	text-transform: uppercase; 
	font-weight: bold; 
}

.input { margin: 0 auto;}
.code { margin: 0 auto; }
.result { margin: 0 auto; }

.mt { margin-top: 30px; }
.mr { margin-right: 30px; }
.mb { margin-top: 30px; }
.ml { margin-right: 30px; }

.pt { padding-top: 30px; }
.pr { padding-right: 30px; }
.pb { padding-top: 30px; }
.pl { padding-right: 30px; }